* {
    font-family: roboto, sans-serif;
}

body {
    margin: 0;
}

.top {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 70%;
    font-size: 15px;
}

.site-presentation {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding: 80px 0 100px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.img-placeholder {
    width: 700px;
    height: 200px;
    background-color: #5e5e68;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0 80px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info .text {
    max-width: 120px;
    font-size: 13px;
    text-align: center;
}

.ill-placeholder {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 15px;
    flex: 0 0 auto;
}

.grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 0 100px;
}

.citation {
    font-size: 25px;
    font-style: italic;
    font-weight: 0;
    color: #1F2937;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.from {
    align-self: flex-end;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 1000;
    color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.blue {
    width: 800px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

.header ul li {
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 28px;
    font-weight: 900;
}

h4 {
    color: white;
    font-size: 18px;
    margin: 0;
}

p {
    color: #E5E7EB;
    margin: 10px 0;
}

.signup-but {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
}

.blue .signup-but {
    border-color: white;
    margin: 0;
}

.text p {
    font-size: 14px;
    margin: 3px 0 0 0;
}